.weather-container{
	display: flex;
	gap: 0.5rem;
}

.weather-container > div{
	display: flex;
	flex-direction: column;
	text-align: center;
	color: white;
	border-radius: 0.5rem;
}

.section-about{
	width: 35rem;
	margin-left: auto;
	margin-right: auto;
	color: rgb(100, 100, 100);
}

.weather-container p{
	position: relative;
	top: 0.5rem;
}

.page-about section{
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	margin-bottom: 2rem;
}

.page-about h3{
	font-size: 1.35rem;
	margin-bottom: 0.9rem;
	color: rgb(97, 96, 96);
}

.doc-api{
	color: coral;
	text-decoration: underline coral;
}


@media screen and (max-width: 650px) {

	.section-about{
		width: 90%;
	}
}
