
.city{
	margin-bottom: 1rem;
	display: flex;
	justify-content: space-between;
	border-radius: 0.5rem;
	box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 3px;
  object-fit: contain;
	background-size: cover;
}

.imgmist{
	background-image: url("../../assets/mist.jpg");
}


.imgcloudy{
	background-image: url("../../assets/cloudy.jpg");
}

.imgsunny{
	background-image: url("../../assets/sunny.jpg");
}

.imgrain{
	background-image: url("../../assets/rain.jpg");
}

.imgnigth{
	background-image: url("../../assets/nigth.jpg");
}

.imgthunderstorm{
	background-image: url("../../assets/thunderstorm.jpg");
}



.info-city{
	padding: 0.7rem;
	padding-bottom: 0;
	width: 50%;
	opacity: 0.8;
	color: white;
	border-radius: 0 0.5rem 0.5rem 0;
}

.temp{
	font-size: 4rem;
}

.description{
	color: white;
	padding: 0.7rem;
	text-align: center;
	font-size: 1.3rem;
}

.description-container{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 50%;
}

.reload{
	width: 40px;
	padding: 0.7rem;
	color: white;
	font-size: 1.2rem;
}

.reload:hover{
	cursor: pointer;
	color: rgb(107, 159, 255);
}

.humidity{
	padding-left: 0.8rem;
}


.humidity span{
	font-size: 0.7rem;
	text-align: left;
	width: 95px;
}

@media screen and (max-width: 650px) {
  .city{
		flex-direction: column;
		justify-content: center;
	}

	.info-city{
		width: 100%;
		border-radius: 0 0 0.5rem 0.5rem;
	}

	.description-container{
		width: 100%;
	}

}






