
.iconSearch{
	font-size: 1rem;
	position: relative;
	top: 1px;
	padding: 0.34rem;
	background-color: rgb(255, 255, 255);
	opacity: 0.9;
	color: rgb(116, 116, 255);
	border-radius: 0.2rem 0 0 0.2rem;
}

.iconSearch:hover{
	cursor: pointer;
	opacity: 1;
}

.searchContainer input{
	width: 180px;
	padding-left: 0.6rem;
	opacity: 0.7;
}

.iconDelete{
	font-size: 1rem;
	position: relative;
	top: 1px;
	padding: 0.34rem;
	background-color: white;
	opacity: 0.7;
	color: rgb(177, 177, 177);
	border-radius: 0 0.2rem 0.2rem 0;
}

.iconDelete:hover{
	cursor: pointer;
	color: rgb(93, 93, 93);
}

/* .loading{
	position: absolute;
	margin-left: 0.7rem;
	font-size: 1.2rem;
} */

.msgError{
	position: absolute;
	top: 127px;
	margin-left: 0.7rem;
	font-size: 0.8rem;
}