.wrapper{
	min-height: calc(100vh - 29.1rem);
}

footer {
	height: 12.6rem;
  color: #ffffff;
  background: rgb(85, 85, 85);
  padding-top: 2rem;
  padding-bottom: 0.5rem;
  margin-top: 2rem;
}

footer .footer-container {
    margin-bottom: 1.2rem;
    display: flex;
    justify-content: space-between;
}

footer .footer-container a{
	color: rgb(168, 159, 255);
}


footer .footer-container i{
	color: white;
	font-size: 2rem;
  padding-right: 1rem;
}

footer .footer-container i:hover{
	color: rgb(197, 197, 197);
}

footer .footer-container img {
	max-width: 170px;
	height: auto;
}

.links-container{
	display: flex;
	gap: 3rem;
	justify-content:space-between;
	width: 60%;
}

footer .copy {
	font-size: 0.9rem;
	text-align: center;
	color: rgb(226, 226, 226);
}

.img-henry{
	position: relative;
	top: 0.4rem;
}

.gradient-text {
  background-image: linear-gradient(30deg, rgb(137, 218, 255), #3af2ff);
  -ms-background-clip: text;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  background-clip: text;
  -ms-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}


@media screen and (max-width: 650px) {

	footer{
		height: 17.2rem;
	}

  footer .footer-container {
      display: flex;
      flex-direction: column;
      text-align: center;
  }

	.links-container{
		margin-top: 1rem;
		width: 100%;
		text-align: left;
	}
}
